body {
  margin: 0 auto;
  font-family: 'Hanken Grotesk', sans-serif;
  line-height: 1.3;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;

}

/*   -------      Card Alignment    -------   */

.containerbody {
  width: 740px;
  height: 520px;
  align-self: center;
  display: grid;
  justify-content: center;
  justify-items: center;
}

.cardcontainer {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  box-shadow: 1px 10px 100px hsla(241, 81%, 54%, 0.2);
  border-radius: 30px;
  flex-wrap: wrap;
}

.alignbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10%;
}

/*       --------   card one    -------      */

.cardone {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 30px;
  display: flex;
  text-align: center;
  width: 50%;
  justify-content: center;
  align-items: center;

}

.scorebox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;

}

.circle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 5% 0 0;
}

.alignbox>h1 {
  font-size: 1.5rem;
  color: hsl(241, 100%, 89%);
  margin: 0;
}

.score {
  font-size: 5rem;
  font-weight: 800;
  color: hsl(221, 100%, 96%);
}

.totalscore {
  font-size: 1.2rem;
  font-weight: 500;
  color: hsl(241, 100%, 89%);
}

.scoretext {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
}

.great {
  color: hsl(221, 100%, 96%);
  font-weight: 500;
  font-size: 1.8rem;
  margin: 0;
}

.message {
  color: hsl(241, 100%, 89%);
  font-size: 1.2rem;
  font-weight: 500;
}


/*       --------   card two   -------      */
.cardtwo {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 50%;
}

.reactionbox,
.memorybox,
.verbalbox,
.visualbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  font-size: 1.2rem;
  margin: 5% 0;
}

.reaction,
.memory,
.verbal,
.visual {
  display: flex;
  align-self: center;
}

svg {
  padding-right: 0.8rem;
  margin: 0;
  align-self: center;
}

.numbers {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}

.total {
  color: hsla(224, 30%, 27%, 0.5);
  font-weight: 700;
}

.alignbox>h2 {
  font-size: 1.5rem;
  color: hsl(224, 30%, 27%);
  margin: 0;
}


.reactionbox {
  background: hsla(0, 100%, 67%, 0.1);
  border-radius: 8px;
}

.reaction {
  color: hsl(0, 100%, 67%);
}

.memorybox {
  background: hsla(39, 100%, 56%, 0.1);
  border-radius: 8px;
}

.memory {
  color: hsl(39, 100%, 56%);
}

.verbalbox {
  background: hsla(166, 100%, 37%, 0.1);
  border-radius: 8px;
}

.verbal {
  color: hsl(166, 100%, 37%);
}

.visualbox {
  background: hsla(234, 85%, 45%, 0.1);
  border-radius: 8px;
}

.visual {
  color: hsl(234, 85%, 45%);
}

button {
  background-color: hsl(224, 30%, 27%);
  border-style: none;
  padding: 1rem;
  border-radius: 30px;
  color: hsl(221, 100%, 96%);
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

button:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

/*       --------    footer    -------      */
footer {
  position: fixed;
  bottom: 2%;
  z-index: 1;
  width: 100%;
  height: 3rem;
}

footer>.attribution {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.attribution>.credit {
  margin: 2px 0;
  color: hsla(224, 30%, 27%, 0.5);
  font-size: 0.8rem;
  align-self: center;
}

.attribution>.credit>a {
  color: hsl(224, 30%, 27%);
  text-decoration: none;
}


/*  Media Query ---- Mobile 500px */
@media screen and (max-width: 500px) {

  footer {
    display: none;
  }

  .containerbody,
  .cardcontainer {
    width: 100%;
    height: 100%;
  }

  .cardone,
  .cardtwo {
    width: 100%;
  }

  .cardone {
    height: 45%;
    border-radius: 0 0 30px 30px;
  }

  .circle {
    width: 180px;
    height: 180px;
  }

  .alignbox {
    height: auto;
    padding: 1.5rem;
  }

  .alignbox>h2 {
    margin: 0.5rem 0;
  }

  .reactionbox,
  .memorybox,
  .verbalbox,
  .visualbox {
    margin: 0.5rem 0;
  }

  button {
    margin-top: 0.5rem;
  }
}

/*  Media Query ---- Mobile 375px */
@media screen and (max-width: 375px) {

  .cardtwo>.alignbox {
    padding-top: 0;

  }

  .totalscore {
    font-size: 1rem;
  }

  .score {
    font-size: 2.2rem;
  }

  .circle {
    width: 120px;
    height: 120px;
  }

  .great {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }

  .message {
    font-size: 1rem;
    margin: 0;
  }

  .reactionbox,
  .memorybox,
  .verbalbox,
  .visualbox {
    font-size: 1rem;
    padding: 0.8rem;
  }

  button {
    margin-top: 0.8rem;
  }

  .summary {
    margin-top: 0.8rem;
  }

}